@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
}

.main {
  height: fit-content;
  margin-left: 16.66667%;
}

.sidebar {
  position: fixed;
}

body {
  overflow-x: hidden;
}
